{% extends '_base.html' %}
{% load static %}

{% block title %}MySchedule | Courses{% endblock %}

{% block content %}
<div class="container">
  <section class="section">
    <div id='calendar'></div>
  </section>
  <section class="section">
    <form action="{% url 'courses:solve' %}" id="course-form" method="post">
      {% csrf_token %}
      <div class="columns is-mobile">
        <div class="column is-9">
          <h2 class="title">Select courses</h2>
          <div class="tabs">
            <ul>
              {% for department in data %}
              <li><a>{{ department.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="tabs-content">
            {% for department in data %}
            <div class="tab-selection">
              {% for course in department.courses %}
              <input type="checkbox" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}" value="{{ course.id }}" name="check">
              <label for="{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                  {{ course.course_code }} - {{ course.course_name }}<br>
                  term {{ course.term }} - sks {{ course.sks }}
              </label>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="column is-3">
          <button class="button is-large is-fullwidth" type="submit" id="course-form-submit">Submit</button>
          <div>
            <label for="time_preference">Time of class preference</label>
            <div class="select is-multiple">
              <select multiple size="3" name="time_preference" id="time_preference" style="overflow: hidden;">
                <option value="morning">prefer morning class</option>
                <option value="default" selected>no preference</option>
                <option value="evening">prefer evening class</option>
              </select>
            </div>
          </div>
          <div>
            <label for="density_preference">Density of schedule preference</label>
            <div class="select is-multiple">
              <select multiple size="3" name="density_preference" id="density_preference" style="overflow: hidden;">
                <option value="packed">prefer packed schedule</option>
                <option value="default" selected>no preference</option>
                <option value="spread">prefer spread schedule</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}