.card {
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.modal-card-head {
    background-color: #5998d6; 
}

.modal-card-body {
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navbar {
    border-bottom: 1px solid black;
    height: 4rem;
    
    .navbar-item img {
        height: 3rem;
        max-height: none; 
    }

    .navbar-item a {
        display: flex;
        align-items: center;
        color: inherit !important;
        border: 1px solid transparent;
        padding-right: 1rem;

        &:hover {
            border: 1px solid black;
            transition: border 0.5s linear;
        }
    }
}