.fc-today {
  background-color:inherit !important;
}

#calendar {
  min-width: 769px;

  table, th, td {
    border-color: $calendar-border-color;
  }
  
  td {
    height: 1.75em;
  }

  .fc-time-grid-event .fc-content {
    overflow: visible;
    color: black;
    margin: 0.25rem;
  }

  .fc-event {
    background-color: $calendar-event-background-color;
    border-color: $calendar-event-background-color;
  }
}

#calendar-container {
  overflow-x: auto; 
}