// source https://codepen.io/zFunx/pen/dWbevd, modified as needed
label {
    padding: 0.2rem;
    display: flex !important;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    margin-left: 0.5rem;
    margin-top: 1.75rem;
    vertical-align: top !important;
    color: transparent;
    transition: .2s;
    flex-basis: 1.5rem;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: hsl(204, 86%, 53%);
    border-color: hsl(204, 86%, 53%);
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}