.tab-selection {
    max-height: 50rem;
    overflow-y: auto;
}

.selected-classes {
    margin-top: 1.5rem;
}

.padding-small {
    padding: 0.5rem;
}

.landing-image {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;

    @media screen and (max-width: $tablet) {
        align-items: flex-start;
      }
}

.landing-text {
    display: flex;margin-left: 1rem; 
    flex-direction: column; 
    height: 100%;
    justify-content: center;
}